MeasurementService/MonitorClient/Connected Services/MeasurementServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeasurementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewActiveStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewActiveStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewActiveStationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsOfMeasurer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="measurerId" type="xs:int" />
        <xs:element minOccurs="0" name="fromTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsOfMeasurerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMeasurementsOfMeasurerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsOfLimitValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="measurerId" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="limitType" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsOfLimitValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMomentsOfLimitValuesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsOfLimitValuesOnSpecificLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="limitType" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsOfLimitValuesOnSpecificLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMomentsOfLimitValuesOnSpecificLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageOnLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateUntil" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageOnLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAverageOnLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOfMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOfMeasurementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>